button,input{
    display: block;
    margin: 10px auto;
}
input{
    outline: none;
}
form{
    margin: 10px auto;
    width: 200px;
    padding: 30px;
    border: 3px black solid;
    background-color: cornsilk;
    text-align: center;
}